.loginButton{
    padding: 1vmin;
    width: 12vmax;
    margin: 2vmin;
    border-radius: 6px;
}

.loginInput {
        border-radius: 10px;
        padding: 3%;
        width: 80%;
        margin: 2%;
}

.feedbackInput {

        border-radius: 10px;
        padding: 3%;
        width: 80%;
        margin: 2%;
}

