.error textarea {
    border-radius: 10px;
    width: 100%;
    border : solid tomato 2px;
}

.error select {
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 4%;
    border : solid tomato 2px;
}

.valid textarea {
    border-radius: 10px;
    width: 100%;
}

.valid select {
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 3%;
}

span{
    color: tomato;
    margin-top: -15px;
}

.mdc-react-select .Select-placeholder {
    color: red;
}

.inputfile {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
    border-radius: 10px;
}

.label {
    font-size: 1.1em;
    width: 40%;
    height: 30%;
    border-color: black;
    border-radius: 10px;
    color: black;
    display: inline-block;
    background-color: white;
}
