  .table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    margin-right: 5rem;
    font-size: 90%;
  }
  
  .table td, .table th {
    border: 2px solid #ddd;
    padding: 10px;
    width: 20%;
  }

  .table td {
      font-size: 80%;
      color: white;
  }

  .actionButton{
      border-radius: 4px;
      width: 60%;
      height: 80%;
  }
  
  .actionTh{
    width: 120%;
    text-align: end;
  }

  .actionColumn{
    width: 120%;
   
  }

  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    width: 20%;
  }