   .infoTable{
    border-color: #282C34;
    width: 90%;
    padding: 2%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 30px;
    border: 20px solid ece9e0;
  }

  .infoTable td{
    color: white;
  }

  .right{width: 150px;}

  .img-wraps{
  position: relative;
  display: inline-block;
 
  font-size: 0;
}

.closes {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 100;
  background-color: rgba(255, 0, 0, 0.534);
  padding: 3px 3px;
  
  color: #000;
  font-weight: bold;
  cursor: pointer;
 
  text-align: center;
  font-size: 20px;
  line-height: 10px;
  border-radius: 50%;
  border:1px solid black;
}
