.overviewButton{
    padding: 1vmin;
    width: 20vmax;
    margin-left: 5vmin;
    border-radius: 6px;
}
.overviewButtonsMaket {
    width: 100%;
   }
.overviewButtonsTD {
    vertical-align: top;
    padding: 5px; 
   }
.overviewHeaderLeftcol {
    width: 60%; 
   }
